includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 1

    paths:
        - Modules
        - app
        - bootstrap
        - routes

    excludePaths:
        analyseAndScan:
            - Modules/*/database/migrations

    ignoreErrors:
        # JsonResource proxies undeclared properties to the wrapped resource.
        -
            identifier: property.notFound
            paths:
                - Modules/*/src/Presentation/Http/Resources/*
